@page "/"
@inject HttpClient Http
@using WeatherApp.Data

<h1>Welcome To the Weather App</h1>
<p>Your current Location: @UserLocation ( @UserPublicIpAddress)</p>
<p>The Weather Condition is: @WeatherCondition</p>

@code { 
    public string UserPublicIpAddress { get; set; }
    public string UserLocation { get; set; }
    public string WeatherCondition { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var IpStackKey = "6dac362ee36f9fe1c6f93d7406ec458e";
        var OpenWeatherKey = "0532e83d8358d80b1f5d5e1c2b54902a";
        
        var IpInfoResponse = await Http.GetAsync("http://ipinfo.io/ip");
        UserPublicIpAddress = await IpInfoResponse.Content.ReadAsStringAsync();
        
        var IpStackResponse = await Http.GetJsonAsync<IpStack>($"http://api.ipstack.com/{UserPublicIpAddress}?access_key={IpStackKey}");
        UserLocation = IpStackResponse.city;
        
        var OpenWeatherResponse = await Http.GetJsonAsync<OpenWeather>($"https://api.openweathermap.org/data/2.5/weather?lat={IpStackResponse.latitude}&lon={IpStackResponse.longitude}&appid={OpenWeatherKey}");
        WeatherCondition = OpenWeatherResponse.weather[0].main;
        
        await base.OnInitializedAsync();
    }
}